{{#if available}}
<div class="item-container">
	<div class="item">
		{{#if type}}
			<h3>{{type}}</h3>
		{{/if}}
		{{#if density}}
			<h3>{{density}}</h3>
		{{/if}}
		{{#if rebar}}
			<h3>Rebar</h3>
		{{/if}}
		{{#if title}}
			<h3>{{title}}</h3>
		{{else}}
			{{#if description}}
				<h3>No Title</h3>
			{{/if}}
		{{/if}}<br>
		<br>
		{{#if section}}
			<p class="sub-heading">{{section}}</p>
		{{/if}}
		{{#if diameter}}
			<p class="sub-heading">{{diameter}}</p>
		{{/if}}
		{{#if strength}}
			<p class="sub-heading">{{strength}}</p>
		{{/if}}
		{{#if blocksize}}
			<p class="sub-heading">{{blocksize}}</p>
		{{/if}}
		{{#if description}}
			<div class="other-description">
				{{description}}
			</div>
		{{/if}}
		{{#if timber}}
			<p class="sub-heading">{{grade}}</p>
		{{/if}}
		<div class="details">
			{{!-- Steel Details --}}
			{{#if steel}}
				<p>Grade: {{grade}}</p>
			{{/if}}
			{{#if length}}
				<p>Length: {{length}}</p>
			{{/if}}
			{{#if quantity}}
				<p>Quantiy: {{quantity}}</p>
			{{/if}}
			{{!-- Brick Details --}}
			{{#if finish}}
				<p>Finish: {{finish}}</p>
			{{/if}}
			{{#if palletNo}}
				<p>No. of Pallets: {{palletNo}}</p>
			{{/if}}
		</div>
		<button class="options">
			<span class="icon glyphicon glyphicon-chevron-down" aria-hidden="true"></span>
		</button>
		<div class="mc actions-container" id="actions-container">
			<ul>
				<li class="menu-option" id="edit">Edit
					{{!-- <span class="icon glyphicon glyphicon-folder-open" aria-hidden="true"> --}}
				</li>
				<li class="menu-option" id="delete">Delete
					{{!-- <span class="icon glyphicon glyphicon-log-out" aria-hidden="true"> --}}
				</li>
			</ul>
		</div>
	</div>
</div>
{{/if}}
{{#if noData}}
	<div class="item-container">
		<div class="item">
		   <h3>{{text}}</h3>
		</div>
	</div>
{{/if}}