<div class="material_list-container">
	<div id="add_steel" class="list-item">
		<p>Steel</p>
	</div>
	<div id="add_brick" class="list-item">
		<p>Brickwork</p>
	</div>
	<div id="add_block" class="list-item">
		<p>Blockwork</p>
	</div>
	<div id="add_rebar" class="list-item">
		<p>Rebar</p>
	</div>
	<div id="add_timber" class="list-item">
		<p>Graded Timber</p>
	</div>
	<div id="add_other" class="list-item">
		<p>Other</p>
	</div>
</div>