<div class="material_list-container">
	<div id="search_steel" class="list-item">
		<p>Steel</p>
	</div>
	<div id="search_brick" class="list-item">
		<p>Brick Work</p>
	</div>
	<div id="search_block" class="list-item">
		<p>Block Work</p>
	</div>
	<div id="search_rebar" class="list-item">
		<p>Rebar</p>
	</div>
	<div id="search_timber" class="list-item">
		<p>Graded Timber</p>
	</div>
	<div id="search_other" class="list-item">
		<p>Other</p>
	</div>
</div>