<div class="filter-container">
	<div id="filter">
		<select id="type-filter" class="form-control">
			<option value="">All Types</option>
			{{#each types}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if strengths}}
		<select id="section-filter" class="form-control">
			<option value="">All Strengths</option>
			{{#each strengths}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{/if}}
	</div>
</div>	