<div class="order-container">
	<div class="order">
		<h3>{{type}}</h3>
		<table class="order_details">
			<tr>
				<th>Strength: </th><td>{{strength}}</td>
			</tr>
			<tr>
				<th>Finish: </th><td>{{finish}}</td>
			</tr>
			<tr>
				<th>No. of Pallets: </th><td> <input id="order_quantity" class="form-control" type="number" value={{palletNo}}></td>
			</tr>
			<tr>
				<th>Job No: </th>
				<td> 
					<select id="job_number" class="form-control" type="number">
						<option value="">Select</option>
					</select>
					<input id="job_number2" class="form-control" type="number">
					<div class="add_project">
						<span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span>
					</div>
				</td>
			</tr>
			<tr>
				<th>Project: </th><td> <input id="project" class="form-control" type="text" readonly></td>
			</tr>
			<tr>
				<span><th>Date Required:</th><td> <input readonly="true" id="date_req" class="form-control" type="text"></td></span>
			</tr>
		</table>
		<div class="hint">Item Available After: {{date_col}}</div>
		<button class="confirm_order">Confirm</button>
		<button class="cancel_order">Cancel</button>
	</div>
	<div class="confirmation">
		<div class="confirm_header">
			<h4>Order Confirmed!</h4>
		</div>
		<div class="text">
			<p>Your order has been confirmed!</p>
		</div>
		<div class="actions">
			<button id="view">View</button>
			<button id="home">Home</button>
		</div>
	</div>
</div>
<div class="error">
	<span class="glyphicon glyphicon-remove-circle icon" aria-hidden="true"></span>
	<div class="text">
		
	</div>
</div>