<div class="form-container">
	<form class="add">
		<label for="">Density</label>
		<select id="sd" class="density selectmenu form-control">
			{{#if density}}
				<option value="{{density}}" selected >{{density}}</option>
			{{/if}}
			{{#each densities}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
			
		</select>

		<label for="">Size</label>
		<select class="size form-control">
			{{#if blocksize}}
				<option selected >{{blocksize}}</option>
			{{/if}}
			{{#each blocksizes}}
				<option>{{this}}</option>
			{{/each}}
		</select>

		<label for="">Finish</label>
		<select class="finish form-control">
			{{#if finish}}
				<option selected >{{finish}} </option>
			{{/if}}
			{{#each finishes}}
				<option>{{finishes}}</option>
			{{/each}}
		</select>

		<label for="palletNo">No. of Pallets</label>
		<input class="form-control" {{#if palletNo}}value={{palletNo}}{{/if}} id="palletNo" name="palletNo" type="number">

		<div class="project_form">
			<label for="job_number">Job No.</label><br>
			<select class="form-control half_width" id="job_number" name="job_number" type="number">
				<option value={{job_number}}>{{job_number}}</option>
			</select>
			<input class="form-control half_width" id="job_number2" name="job_number" type="number"></input>
			<div class="add_project"><span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>

			<label id="project_label" for="project">Project Name</label>
			<input class="form-control" id="project" name="project" type="text" value="{{project}}"readonly></input>
		</div>

		<label for="date_col">Collection Date</label><br>
		<input readonly="true" id="date_col" class="form-control half_width" type="text" value="{{date_col}}"></input>
		</span>

		<label for="commments">Comments</label>
		<textarea class="form-control" id="comments" name="comments" type="text">{{comments}}</textarea>
		<input class="confirm" id="submit-form" type="button" value="Submit"/>
		<input class="cancel" id="cancel-form" type="button" value="Cancel"/>
	</form>
</div>