<div class="filter-container">
	<div id="filter">
		<select id="density-filter" class="form-control">
			<option value="">All Densities</option>
			{{#each densities}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{#if blocksizes}}
		<select id="size-filter" class="form-control">
			<option value="">All Sizes</option>
			{{#each blocksizes}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		{{/if}}
	</div>
</div>	