<div class="filter-container">
	<div id="filter">
		<select id="diameter-filter" class="form-control">
			<option value="">All Diameters</option>
			{{#each diameters}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</div>
</div>	