{{#if quantity}}
	{{#unless filter}}
		{{#unless filter-diameter}}
			<div class="item-container">
				<div class="item rebar-item">
					<h3>Rebar</h3><br>
					<p class="sub-heading">{{diameter}}</p>

					<div class="details">
						<p>Length: {{length}}</p>
						<p>Quantity: {{quantity}}</p>
					</div>
					<button class="info">
						<span class="icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
					</button>
				</div>
				<div class="other-info">
					<div class="comments">
						<p class="comment">{{comments}}</p>
					</div>
					<div class="details">
						<p class="added_by">{{added_by}}</p>
						<p class="date_added">{{date_added}}</p>
					</div>
					<span phone="{{phone}}" class="glyphicon glyphicon-earphone"></span>
				</div>
			</div>
		{{/unless}}
	{{/unless}}
{{/if}}
{{#if noData}}
	<div class="item-container">
		<div class="item no-data">
		   <h3>{{text}}</h3>
		</div>
	</div>
{{/if}}