<div class="form-container">
	<form class="add">
		<label for="">Type</label>
		<select id="sd" class="timber-type selectmenu form-control">
			{{#if type}}
				<option value="{{type}}" selected >{{type}}</option>
			{{/if}}
			{{#each types}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>

		<label for="">Grade</label>
		<select id="sd" class="timber-grade selectmenu form-control">
			{{#if grade}}
				<option value="{{grade}}" selected >{{grade}}</option>
			{{/if}}
			{{#each grades}}
				<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>

		<label for="length">Length</label>
		<input class="form-control" {{#if length}}value={{length}}{{/if}} id="length" name="length" type="number">

		<label for="length">Quantity</label>
		<input class="form-control" {{#if quantity}}value={{quantity}}{{/if}} id="quantity" name="quantity" type="number">

		<div class="project_form">
			<label for="job_number">Job No.</label><br>
			<select class="form-control half_width" id="job_number" name="job_number" type="number">
				<option value={{job_number}}>{{job_number}}</option>
			</select>
			<input class="form-control half_width" id="job_number2" name="job_number" type="number"></input>
			<div class="add_project"><span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>

			<label id="project_label" for="project">Project Name</label>
			<input class="form-control" id="project" name="project" type="text" value="{{project}}"readonly></input>
		</div>

		<label for="date_col">Collection Date</label><br>
		<input readonly="true" id="date_col" class="form-control half_width" type="text" value="{{date_col}}"></input>
		</span>

		<label for="commments">Comments</label>
		<textarea class="form-control" id="comments" name="comments" type="text">{{comments}}</textarea>
		<input class="confirm" id="submit-form" type="button" value="Submit"/>
		<input class="cancel" id="cancel-form" type="button" value="Cancel"/>
	</form>
</div>