<div class="filter-container">
	<div id="filter">
		<select id="type-filter" class="form-control">
			<option value="">All Types</option>
			{{#each types}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
		<select id="grade-filter" class="form-control">
			<option value="">All Grades</option>
			{{#each grades}}
			<option value="{{this}}">{{this}}</option>
			{{/each}}
		</select>
	</div>
</div>	