<div class="form-container">
	<form class="add">
		<label for="">Material</label>
		<input id="title" class="form-control" type="text"></input>

		<label for="description">Description</label>
		<textarea class="form-control" id="description" name="description" type="text"></textarea>

		<label for="quantity">Quantity</label>
		<input class="form-control" id="quantity" name="quantity" type="number"></input>

		<div class="project_form">
			<label for="job_number">Job No.</label><br>
			<select class="form-control half_width" id="job_number" name="job_number" type="number">
				<option value="">Please select</option>
			</select>
			<input class="form-control half_width" id="job_number2" name="job_number" type="number"></input>
			<div class="add_project"><span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>

			<label id="project_label" for="project">Project Name</label>
			<input class="form-control" id="project" name="project" type="text" readonly></input>
		</div>

		<label for="date_col">Collection Date</label><br>
		<input readonly="true" id="date_col" class="form-control half_width" type="text"></input>
		</span>

		<input class="confirm" id="submit-form" type="button" value="Submit"/>
		<input class="cancel" id="cancel-form" type="button" value="Cancel"/>
	</form>
	<div class="confirmation">
		<div class="confirm_header">
			<h4>Item Added!</h4>
		</div>
		<div class="text">
			<p>Item has been added!</p>
		</div>
		<div class="actions">
			<button id="view">View</button>
			<button id="home">Home</button>
		</div>
	</div>
</div>
<div class="error">
	<span class="glyphicon glyphicon-remove-circle icon" aria-hidden="true"></span>
</div>