<div class="form-container">
	<form class="add">
		<label for="">Material</label>
		<input id="title" class="form-control" type="text" {{#if title}}value="{{title}}"{{/if}} ></input>

		<label for="commments">Description</label>
		<textarea class="form-control" id="description" name="description" type="text">{{description}}</textarea>

		<label for="length">Quantity</label>
		<input class="form-control" {{#if quantity}}value={{quantity}}{{/if}} id="quantity" name="quantity" type="number">

		<div class="project_form">
			<label for="job_number">Job No.</label><br>
			<select class="form-control half_width" id="job_number" name="job_number" type="number">
				<option value={{job_number}}>{{job_number}}</option>
			</select>
			<input class="form-control half_width" id="job_number2" name="job_number" type="number"></input>
			<div class="add_project"><span class="icon glyphicon glyphicon-plus-sign" aria-hidden="true"></span></div>

			<label id="project_label" for="project">Project Name</label>
			<input class="form-control" id="project" name="project" type="text" value="{{project}}"readonly></input>
		</div>

		<label for="date_col">Collection Date</label><br>
		<input readonly="true" id="date_col" class="form-control half_width" type="text" value="{{date_col}}"></input>
		</span>
		
		<input class="confirm" id="submit-form" type="button" value="Submit"/>
		<input class="cancel" id="cancel-form" type="button" value="Cancel"/>
	</form>
</div>