{{#if quantity}}
	<div class="item-container">
		<div class="item other-item">
			<h3>{{#if title}}{{title}}{{else}}No Title{{/if}}</h3>
			<div class="other-description">
				{{description}}
			</div>

			<div class="details">
				<p>Quantity: {{quantity}}</p>
			</div>
			<button class="info">
				<span class="icon glyphicon glyphicon-eye-open" aria-hidden="true"></span>
			</button>
		</div>
		<div class="other-info">
			<div class="comments">
				<p class="comment">{{description}}</p>
			</div>
			<div class="details">
				<p class="added_by">{{added_by}}</p>
				<p class="date_added">{{date_added}}</p>
			</div>
			<span phone="{{phone}}" class="glyphicon glyphicon-earphone"></span>
		</div>
	</div>
{{/if}}
{{#if noData}}
	<div class="item-container">
		<div class="item no-data other-item">
		   <h3>{{text}}</h3>
		</div>
	</div>
{{/if}}